name: CI for AdService

on:
  push:
    branches: [ main ]

env:
  IMAGE_NAME: marypearl/shippingservice

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        run: |
          docker build -t docker.io/${{ env.IMAGE_NAME }}:${{ github.sha }} -t docker.io/${{ env.IMAGE_NAME }}:latest .
          docker push docker.io/${{ env.IMAGE_NAME }}:${{ github.sha }}
          docker push docker.io/${{ env.IMAGE_NAME }}:latest
